{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="article">

  <header>
      <img src="{{ SITEURL }}/theme/images/doc22.png"    />
      <span>
      <h1 class="entry-title">{{ article.title }}</h2>
      <span class='summary_date' title="{{ article.date.isoformat() }}">
        {{ article.date|strftime('%B %Y') }}
      </span>
      <span class='summary_date' >
        {{ article.category|capitalize }}
      </span>
      <a href='{{ article.source_path }}' class='summary_date'>src</a>
  </span>
  </header>



  <div class="article-content">
    {{ article.content }}
  </div><!-- /.entry-content -->



</section>
{% endblock %}
