{% extends "base.html" %}


{% block content %}
<section id="postlist">

<h1>
{% block content_title %}
  <img src="{{ SITEURL }}/theme/images/folder24.png" /> All
{% endblock %}
</h1>

<div class='articles-list'> {# pour les colonnes #}
{% for article in articles_page.object_list %}

<article>
<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">

      {% if  article.featured_image %}
          <img src="{{ SITEURL }}/{{ article.featured_image }}" class="thumbnail">
      {% endif %}

      <h2 class="entry-title">{{ article.title }}</h2>

       <p>
         <span class='summary_date'>{{ article.date|strftime('%B %Y') }}</span>
         <span class='summary_date'>{{ article.category }}</span>
         {{ article.summary|striptags }}
       </p>
</a>
</article>

{% endfor %}
</div>



{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
