body {
  background-color: white;
  color: black;
  margin:2px;
  padding:12px;
  padding-bottom:0px;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

/*  Structure  */
#side, #content {
  display: inline-block;
  vertical-align: top;
}
#side {
    width: 170px;
}
#content {
  max-width: 700px;
  width:90%;
  margin-left: 50px;
  margin-top: 40px;
}

/* Banner & Menu */
#banner img {
	/*max-width: 170px;*/
}
#banner h1, #menu {
    margin:0;
    padding: 0;
    padding-left: 22px;
}
#banner h1 {
    padding-top:20px;
    padding-bottom:8px;

    font-family: monospace;
    font-size:18px;
    font-weight:normal;
}

#menu ul {
    list-style-type: none;
    padding: 0;  margin: 0;
    padding:1px;
    font-family: monospace;
}
#menu li.active a {
    color:red;
    font-weight: bold;
}


/* Content Page */
#content {
    font-family: serif;
    /*line-height: 1.8;*/
}

/* Content post-list (index) */
.postlist_title {
  margin:0;
  padding:0;
  margin-left:.6em;
  margin-bottom: 1em;
  font-weight: normal;
  font-family: monospace;
  font-size: 15px;
}

.hentry {
  margin-bottom: 1.2em;
}
.hentry a {
  color: black
}
.hentry a:hover {
  color: red;
  background-color: #330000;
  text-decoration: none;
}
.hentry h2 {
  margin:0;
  padding:0;
  font-family: sans-serif;
  font-size: 97%;
  line-height: 90%;
}
.hentry p {
  margin: 0;
  padding: 0;
}
.hentry .summary_date {
  font-size: 84%;
  font-weight: bold;
  font-family: monospace;
  padding-right: 1.1em;
}

/* Content Article */
.article_body {
  line-height: 1.6;
}


/* Page footer */
#sitefooter {
    text-align:left;
    margin-top:30px;
    position: absolute;
    bottom: 10px;
    font-size: 80%;
    width: 170px;
}
