
/* Bluerobot colors
orange #f66300
blue #66a4d5
dark blue 00156b
green 00bf66*/

body {
  background-color: white;
  color: black;
  margin:2px;
  padding:12px;
  padding-bottom:0px;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; padding: 0px;
}

/*  Structure  */
#side, #content {
  display: inline-block;
  vertical-align: top;
}
#side {
    width: 170px;
}
#content {
  max-width: 700px;
  width:90%;
  margin-left: 45px;
  margin-top: 40px;
}

/* Banner & Menu */

#banner h1, #menu {
    margin:0;
    padding: 0;
    padding-left: 22px;
}
#banner h1 {
    padding-top:20px;
    padding-bottom:8px;

    font-family: monospace;
    font-size:18px;
    font-weight:normal;
}

#menu ul {
    list-style-type: none;
    padding: 0;  margin: 0;
    padding:1px;
    font-family: monospace;
}
#menu li.active a {
    color:red;
    font-weight: bold;
}


/* -- Content Page -- */
#content {
    font-family: serif;
}

/* -- Content post-list (index) -- */
#postlist>div {
  width: 100%; display: block;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
#postlist h1 {
  margin:0;
  padding:0;
  margin-left:.6em;
  margin-bottom: 1em;
  font-weight: normal;
  font-family: monospace;
  font-size: 15px;
}
#postlist article {
  display: inline-block;
  /*width: 30%;*/
  width: 100%;
  padding:3px;
  border: 1px solid grey;
  vertical-align: top;
  margin-bottom:8px;
}

.hentry {
  margin-bottom: 1.2em;
}
.hentry a {
  color: black
}
.hentry a:hover {
  color: #FA1107;
  text-decoration: none;
}
#postlist article:hover {
  border: 1px solid #FA1107;
}
.hentry h2 {
  margin:0;
  padding:0;
  font-family: sans-serif;
  font-size: 97%;
  line-height: 90%;
}
.hentry p {
  margin: 0;
  padding: 0;
}

.summary_date {
  padding-right: 0.9em;
  font-size: 84%;
  font-weight: bold;
  font-family: monospace;
}

.thumbnail {
  width:100%;
}
/* -- Content Article -- */
#article header {
  margin-bottom: 1.5em;
}
#article header h1 {
  font-family: sans-serif;
  font-size: 98%;
}

#article header span, #article header a {
  display: inline-block;
  vertical-align: top;
  line-height: 1.1;
  margin-right: 6px;
}
#article header>img {
  margin-right: 6px;
}
.article-content {
  font-size: 104%;
  line-height: 1.5;
}

/*  Code ipynb  */
.article-content pre {
  padding:6px;
  padding-left:12px;
  border-radius: 6px;

  margin-top: .4em;
  margin-bottom: .4em;
}
.prompt, .anchor-link {
  display: none;
}
.cell p {
  margin:0;
}
.output_subarea pre {
  white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  word-wrap: break-word;
}
.output {
  margin-bottom: 1.2em;
}
/* Page footer */
#sitefooter {
    text-align:left;
    margin-top:30px;
    position: absolute;
    bottom: 10px;
    font-size: 80%;
    width: 170px;
}
